<table>
  <caption>Pages</caption>
  <thead>
    <tr>
      <th>Title</th>
      <th>Slug</th>
      <th>Updated at</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @pages.each do |page| %>
      <tr>
        <td><%= page.title %></td>
        <td><%= page.slug %></td>
        <td><%= page.updated_at %></td>
        <td nowrap>
          <%= link_to "Edit", edit_admin_page_path(page), class: "btn btn-primary btn-xs" %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
