<%= form_tag session_path, method: :post do |f| %>
  <div class="mb-3">
    <%= label_tag :password, 'Password', class: 'form-label' %>
    <%= password_field_tag :password, nil, class: 'form-control' %>
  </div>

  <%= submit_tag 'Login', class: 'btn btn-primary' %>
<% end %>
