<h2>All Talks</h2>

<% if @talks.present? %>
  <%= render partial: "talk", collection: @talks, spacer_template: "shared/spacer" %>
<% else %>
  <p>No talks posted</p>
<% end %>

<div class="prev-next">
  <div><%= link_to_previous_page @talks, "Previous Page" %></div>
  <div><%= link_to_next_page @talks, "Next Page" %></div>
</div>
