<h1>All Talks</h1>

<% if @talks.present? %>
  <%= render partial: "posts/post", collection: @talks, spacer_template: "shared/spacer" %>
<% else %>
  <p>No talks posted</p>
<% end %>

<%= render partial: "shared/spacer" %>

<div class="prev-next">
  <div><%= link_to_previous_page @talks, "Previous Page" %></div>
  <div><%= link_to_next_page @talks, "Next Page" %></div>
</div>
