<h2>Recent Posts</h2>
<hr />
<% if @posts.present? %>
  <% @posts.each do |post| %>
    <h4>
      <%= link_to post.title, post %>
      <span style="font-size: 12px; font-style: italic; color: gray;"><%= post.published_at.strftime("%B %d, %Y") %></span>
    </h4>
  <% end %>
<% else %>
  <p>Nothing written yet :/</p>
<% end %>

<p><%= link_to "View all posts...", posts_path %></p>
