<h2>All Posts</h2>

<% if @posts.present? %>
  <%= render partial: "post", collection: @posts, spacer_template: "shared/spacer" %>
<% else %>
  <p>Nothing written yet :/</p>
<% end %>

<div class="prev-next">
  <div><%= link_to_previous_page @posts, "Previous Page" %></div>
  <div><%= link_to_next_page @posts, "Next Page" %></div>
</div>
