<% if @posts.present? %>
  <%= render partial: 'post', collection: @posts %>
<% else %>
  <p>Nothing written yet :/</p>
<% end %>

<div class="clearfix mb-3">
  <div class="float-end">
    <%= link_to_next_page @posts, 'Next Page' %>
  </div>
  <div class="float-start">
    <%= link_to_previous_page @posts, 'Previous Page' %>
  </div>
</div>
