@import "bootstrap";

body {
  padding-top: 5rem;
}

$gray: #808080;

.post {
  .summary {
    font-style: italic;
    margin: 12px 0;
  }
}

#home {
  .date {
    color: $gray;
    font-size: 12px;
    font-style: italic;
  }
}

#copyright {
  margin-right: 8px;
}

$twitter-color: #55acee;
$github-color: #000;
$linkedin-color: #0077b5;

#social-icons {
  margin-top: 12px;

  #twitter-icon {
    background-color: $twitter-color;
  }

  #github-icon {
    background-color: $github-color;
  }

  #linkedin-icon {
    background-color: $linkedin-color;
  }
}

#sidebar-images {
  img {
    display: block;
    margin: auto;
  }
}

#sidebar {
  .card {
    margin-top: 2em;
  }
}
