/* Application styles */

:root {
  --cerulean: #007BA7;
  --alice-blue: #E9F1F7;
  --bistre: #251605;
  --rosewood: #6B0F1A;
  --navy-blue: #000080;
  --win2k: #3B6EA5;
  --size-sm: 640px;
  --content-width: 91.666667%;
  --border-radius: 0.5rem;
  --code-bg-color: #2b303b;
}

body {
  background-color: var(--win2k);
  font-family: 'Inter var', ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

header, footer, main, article, section, p, div {
  display: block;
}

a:hover {
  cursor: pointer;
}

header {
  width: 100%;
  color: var(--alice-blue);
  background-color: var(--navy-blue);
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

nav {
  width: var(--content-width);
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: space-between;
}

nav a {
  font-weight: 900;
  color: var(--alice-blue);
}

nav a:hover {
  color: white;
}

nav div {
  display: flex;
}

nav div > * + *	{
  margin-left: 1rem;
}

@media (min-width: 640px) {
  nav div > * + *	{
    margin-left: 2rem;
  }
}

main {
  width: var(--content-width);
  margin-left: auto;
  margin-right: auto;
  margin-top: 2rem;
  margin-bottom: 2rem;
  padding: 1.25rem;
  background-color: var(--alice-blue);
  border-radius: var(--border-radius);
}

main a {
  text-decoration: underline;
  font-weight: 600;
  color: var(--navy-blue);
}

main a:hover {
  color: var(--win2k);
}

footer {
  margin-top: 1rem;
  margin-bottom: 1rem;
  margin-left: auto;
  margin-right: auto;
  text-align: right;
  width: var(--content-width);
  color: var(--alice-blue);
  font-size: 0.75rem;
}

footer a {
  text-decoration: underline;
}

footer a:hover {
  color: white;
}

p {
  margin-top: 0px;
  margin-bottom: 1rem;
}

h1, h2, h3, h4, h5, h6 {
  display: block;
  margin-top: 0;
  margin-bottom: 0.75rem;
  font-weight: 500;
  line-height: 1.2;
}

hr {
  display: block;
  border-top: 1px solid var(--win2k);
  margin-top: 2rem;
  margin-bottom: 2rem;
}

h1 {
  font-size: 2.25rem;
}

h2 {
  font-size: 1.9rem;
}

h3 {
  font-size: 1.75rem;
}

h4 {
  font-size: 1.5rem;
}

h5 {
  font-size: 1.25rem;
}

h6 {
  font-size: 1rem;
}

ol {
  margin-bottom: 1rem;
  display: block;
  list-style-type: decimal;
  list-style-position: inside;
}

ul {
  margin-bottom: 1rem;
  display: block;
  list-style-type: disc;
  list-style-position: inside;
}

.home-list {
  width: 100%;
}

.home-list article	{
  margin-top: 2rem;
  width: 100%;
}

.home-list article > * + *	{
  margin-top: 1rem;
}

.badge-and-title {
  display: flex;
  align-items: center;
  gap: 0.25rem;
}

.post-badge {
  background-color: var(--navy-blue);
  color: white;
  padding: 2px 4px;
  text-align: center;
  border-radius: var(--border-radius);
  font-size: 0.75rem;
}

.talk-badge {
  background-color: var(--win2k);
  color: white;
  padding: 2px 4px;
  text-align: center;
  border-radius: var(--border-radius);
  font-size: 0.75rem;
}

@media (min-width: 640px) {
  .home-list {
    display: flex;
    gap: 2rem;
  }

  .home-list article	{
    margin-top: 0;
  }
}

.summary {
  font-style: italic;
  margin: 12px 0;
}

.marksmith pre {
  margin-top: 1.7142857em;
  margin-bottom: 1.7142857em;
  border-radius: var(--border-radius);
  padding-top: 0.8571429em;
  padding-inline-end: 1.1428571em;
  padding-bottom: 0.8571429em;
  padding-inline-start: 1.1428571em;
  white-space: pre;
  text-wrap: wrap;
}

.marksmith code {
  background-color: var(--code-bg-color);
}

.marksmith :not(pre) > code {
  padding: 0.1rem 0.2rem;
  color: var(--alice-blue);
  font-size: 13px;
  border-radius: var(--border-radius);
}

.date {
  color: var(--bistre);
  font-size: 0.85rem;
  font-style: italic;
  margin-top: 0.25rem;
}

.prev-next {
  display: flex;
  justify-content: space-between;
}

#intro img {
  width: 7rem;
  height: 7rem;
  margin-left: 0.5rem;
  border-radius: var(--border-radius);
  float: right;
}

#intro svg {
  width: 1.75rem;
  height: 1.75rem;
}

#intro #social-icons {
  display: flex;
  justify-items: end;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

#intro #social-icons > * + *	{
  margin-left: 1rem;
}

.form-label {
  display: block;
  font-size: 1rem;
  margin-bottom: 0.25rem;
}

.form-control {
  border-color: var(--cerulean);
  border-width: 1px;
  border-style: solid;
  background-color: white;
  padding: 0.25rem;
  margin-bottom: 1rem;
  width: 100%;
}

.button {
  background-color: var(--navy-blue);
  color: var(--alice-blue);
  padding: 0.5rem;
}

input[type=checkbox] {
  appearance: auto;
}

.checkbox {
  margin-bottom: 1rem;
}

.text-center {
  text-align: center;
}

table {
  margin: 1em 0;
  border-collapse: collapse;
  page-break-inside: auto;
  width: 100%;
}

caption {
  text-align: left;
  font-style: italic;
  font-weight: bold;
  padding-bottom: 0.5rem;
  color: var(--navy-blue);
  border-bottom: 1pt solid #000;
}

th, td {
  padding: 0.25em 0.5em 0.25em 1em;
  vertical-align: text-top;
  text-align: left;
}

th {
  vertical-align: bottom;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  font-weight: bold;
}

td::before {
  display: none;
}

tr {
  page-break-inside: avoid;
}

tr:nth-child(even) {
  background-color: rgba(255, 255, 255, 0.25);
}

th:last-of-type, td:last-of-type {
  text-align: right;
}

strong, b {
  font-weight: bold;
}

em, i {
  font-style: italic;
}

strike {
  text-decoration-line: line-through;
}

@media (max-width: 640px) {
  table, tr, td {
    display: block;
  }
  th {
    display: none;
  }
  td::before {
    display: inline;
    font-weight: bold;
  }
  td {
    display: grid;
    grid-gap: 1em 0.5em;
    text-align: left;
  }

  th:last-of-type, td:last-of-type {
    text-align: left;
  }
}

/*
  Based on https://avexdesigns.com/blog/responsive-youtube-embed
*/
@media (max-width: 640px) {
  .video {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px;
    height: 0;
    overflow: hidden;
  }
  .video iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}
